<!DOCTYPE HTML>
<html lang="en">

<!-- headtag -->

<body>
<!-- header section -->
<!-- ========================= HEADER END ========================= -->
   <%- body %>
    <!-- ========================= FOOTER ========================= -->
    
    <!-- ========================= FOOTER END // ========================= -->

</body>

</html>